body {
    font-family: georgia;
    background-color: maroon;
    margin-top: 70px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 100px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    color: black;
    font-family: comic sans ms;
}